html,
body,
#root {
  height: 100%;
  /* font-size: 1rem; */
  font-size: 0.935rem;
  font-family: poppins;
}

@media print {
  body {
    visibility: hidden;
  }
  #section-to-print {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@import "bootstrap/scss/bootstrap";

.loading-text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.toast-message {
  // background: darkblue;
  // color: #fff;
  // font-size: 20px;
  // width: 34vw;
  // padding: 30px 20px;
}
